<div class="contactMeLinksContainer">

    <div id="linkedIn" class="contactLink">
        <a href="https://www.linkedin.com/in/kyrstengrima/" class="contactLinks" target="_blank">
            <img src="linkedin.png" class="contactImages linkImg" >
        </a>
    </div>


    <div id="github" class="contactLink">
        <a href="https://github.com/kgrim/portfolio" class="contactLinks" target="_blank">
            <img src="github.png" class="contactImages linkImg" >
        </a>
    </div>

    <div id="codePen" class="contactLink">
        <a href="https://codepen.io/kgrim/" class="contactLinks" target="_blank">
            <img src="codepen.png" class="contactImages linkImg" >
        </a>
    </div>

    <div id="email" class="email">
            <img src="email.png" class="contactImages linkImg atIcon" >
    </div>
</div>
