

<body>
  <div class="container">
    <div class="wrapper animated bounceInLeft">
      <div class="contact">
        <form method="POST" action="send">
          <p>
            <label>Name</label>
            <input type="text" name="name" required="required">
          </p>
          <p>
            <label>Company</label>
            <input type="text" name="company">
          </p>
          <p>
            <label>Email Address</label>
            <input type="email" name="email" required="required">
          </p>
          <p>
            <label>Phone Number</label>
            <input type="text" name="phone">
          </p>
          <p class="full">
            <label>Message</label>
            <textarea name="message" rows="5"></textarea>
          </p>
          <p class="full">
            <button type="submit">Submit</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</body>
