<div class="line"></div>
<nav>
    <a href="/" class="homeNav">Home</a>
    <a href="/aboutMe" class="aboutMeNav">About Me</a>
    <a href="/projects" class="projectsNav">Projects</a>
    <a href="/contactMe" class="contactMeNav">Contact Me</a>
</nav>
