<div class="line"></div>
<nav>
    <a href="/">Home</a>
    <a href="/aboutMe">About Me</a>
    <a href="/projects">Projects</a>
    <a href="/contactMe">Contact Me</a>
</nav>




<!-- <div class="dropdown">
    <a class="dropbtn" href="/projects">Projects</a>
    <div class="dropdown-content">
        {{#each projectList}}
        <a href="/projects/{{i}}/description" alt="">{{name}}</a>
        {{/each}}
    </div>
</div> -->
