{{#each projectList}}
    <div class="individualProject individualProject{{i}}">
        <a href="/projects/{{i}}/description"><img src="/{{i}}/shot.png" alt="">
        <h3> {{name}}</h3></a>
    </div>
{{/each}}
