<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Grim | Portfolio</title>
        <link rel="stylesheet" href="/css/stylesheet.css">
    </head>
    <body>

        <div class="nav">
            {{> nav}}
        </div>

        {{{body}}}

    </body>
</html>
