<style media="screen">
    .line {
        background: hotpink;
    }

    .nav a, .nav button {
        color: hotpink;
        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
</style>

<div class="aboutMeSection">
    <h1>Hello, it's K!</h1>

    <p>Every website has a vision and a mission however this is not always achieved. I am the person that can help to make this happen. How? As you can see from my profile I have both Design & Web Development background with a rich history in customer care & communication. This means that I would be able to develop a functioning website using Javascript yet still make it aesthetically pleasing by capturing the motive of the brand.

        Saying that, I consider myself as a quick learner and always am happy to learn new things.

        If you would like to know more, please checkout my CV & my Github repository.</p>

    <img id="candyImg" src="https://images.pexels.com/photos/827066/pexels-photo-827066.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
    <img id="plantImg" src="https://images.pexels.com/photos/797793/pexels-photo-797793.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
    <img id="waterImg" src="https://images.pexels.com/photos/1426718/pexels-photo-1426718.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
</div>
