<head>
  <link rel="stylesheet" href="/css/contactMe.css">
</head>

<div id="contact" class="contactMeSection">
    <div id="contactIntro" class="title">
        <h2 id="chat">Let's Chat!</h2>
        <p>If you like what you are reading or you would like to say hello, you can do so via these methods:</p>
    </div>

    

</div>
