<head>
  <link rel="stylesheet" href="/css/contactMe.css">
</head>

<div id="contact" class="contactMeSection">
    <div id="contactIntro" class="title">
        <p id="chat">Let'sChat!</p>
        <p>If you like what you are reading or you would like to say hello, you can do so via these methods:</p>
    </div>

    {{> email }}
    <div class="contactMeLinksContainer">

        <div id="linkedIn" class="contactLink">
            <a href="https://www.linkedin.com/in/kyrstengrima/" class="contactLinks" target="_blank">
                <img src="linkedin.png" class="contactImages linkImg" >
                <br>
                    /kyrstengrima/
            </a>
        </div>

        <div id="gmail" class="contactLink">
            <p>
                <img src="email.png" class="contactImages linkImg" class="contactLink">
                <br>
                    kyrstenprofile@gmail.com
            </p>
        </div>

        <div id="github" class="contactLink">
            <a href="https://github.com/kgrim/portfolio" class="contactLinks" target="_blank">
                <img src="github.png" class="contactImages linkImg" >
                <br>
                    /kgrim/portfolio
            </a>
        </div>
    </div>
</div>
