

{{> navigation}}
<div class="backgroundImageSlash2">

</div>
    <div class="main">
        <div class="bigProjContainter">
            <div class="bigProject">
                <h1>{{> bigProjectList}}</h1>
            </div>

        </div>
        <div class="smallProjContainter">
            <div class="titleInstructions individualProject">
                <h2>START</h2>
                <p class="textChange"></p>
            </div>
            {{> projects}}
            <h2>END</h2>
        </div>
    </div>

<script src="/js/projectScript.js" charset="utf-8"></script>
