<head>
    <link rel="stylesheet" href="/css/projects.css">
</head>

<body>
    <div class="projectsContainer">
        <div class="titleInstructions">
            <h2>START</h2>
            <p>you can stroll through the projects by click+drag or hold shift+scroll </p>
        </div>
        {{> projects}}
        <h2>END</h2>
    </div>

    <script src="/js/script.js" charset="utf-8"></script>
</body>
