<link rel="stylesheet" href="/css/welcome.css">


<div id="bigContainer">
    <div class="welcomeHB">
        <div id="helloTitle">
            <p>HE</p>
            <p>LLO.</p>
        </div>
    </div>
</div>
<div id="line"></div>
<div id="line2"></div>
<div class="navIcons">
    <a href="/aboutMe" title="About Me"> <img src="/aboutMe.png" alt=""> </a>
    <a href="/projects" title="Projects"> <img src="/projects.png" alt=""> </a>
</div>
