<link rel="stylesheet" href="/css/welcome.css">

<div class="imgContainer"></div>

    <div id="bigContainer">
        <div id="helloTitle">
            <p>HE</p>
            <p>LLO.</p>
        </div>
        <div class="navIcons">
            <a href="/aboutMe" title="About Me"> <img src="/aboutMe.png" alt=""> </a>
            <a href="/projects" title="Projects"> <img src="/projects.png" alt=""> </a>
        </div>
    </div>
