<link rel="stylesheet" href="/css/welcome.css">

<div id="bigContainer">
    <div class="welcomeHB">
        <div id="helloTitle">
            <p>HE</p>
            <p>LLO.</p>
        </div>
    </div>
</div>
