*{
  box-sizing: border-box;
}

body{
    line-height: 1.6;
    padding: 8em;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    margin: 0 auto;
    /* font-size: 120%; */

}

/* ///////////////////////////////////////////CONTACT ME///////////////////////////// */


.contactLink p {
    margin: 0;
}


.active {
    transform: scale(1.1);
}



.container{
    position: relative;
    top: -10rem;
  width : 80vw;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  position: relative;
  z-index: 5;
}

ul{
  list-style: none;
  padding: 0;
}


.wrapper{
    position: relative;
    top: 25vh;
  visibility: hidden;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

}

.wrapper > *{
  padding: 1em;
}


.contact{
  background: linear-gradient(rgb(255, 255, 255) , rgb(255, 255, 255, .9) , rgb(255, 255, 255, .5));

}


.contact form label{
  display: block;
  margin-top: 10px;
  font-size: 3vh;
  text-align: left;
}



.contact form p{
  margin: 0;
}



.contact form button, .contact form input, .contact form textarea{
  width: 100%;
  border: none;
  border-bottom: 1px solid grey;
  background: transparent;
  font-size: 3vh;
  position: relative;
  z-index: 20;
}

.contact form button{
  background: grey;
  color: white;
  border: 0;
  text-transform: uppercase;
}

.contact form button:hover,.contact form button:focus{
  background: darkorange;
  color: #fff;
  outline: 0;
  transition: background-color 2s ease-out;
}


@media screen and (min-width: 320px) and (max-width: 1024px) {
    body {
        padding: 4em;
        font-size: 150%;
    }
    #contactIntro {
        font-size: 140%;
    }
    .contact form label {
    }

    .contact form button {
        font-size: 3rem;
    }

    .container {
        top: -20rem;
    }
}
