@import url('https://fonts.googleapis.com/css?family=Abel');

@font-face {
    font-family: 'boldbold';
    src: url('Cunia-webfont.eot');
    src: url('Cunia-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cunia-webfont.woff2') format('woff2'),
         url('Cunia-webfont.woff') format('woff'),
         url('Cunia-webfont.ttf') format('truetype'),
         url('Cunia-webfont.svg#boldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


* {
    font-family: Abel, sans-serif;
    font-weight: lighter;
}

/* //////////////////////////////////////////////////NAV BAR//////////////////////////////////////////////////////// */
.nav {
    text-align: center;
}

nav a {
    width: 10vw;
    height: 5vh;
    position: fixed;
    background: white;
    color: darkorange;
    font-size: 1rem;
    z-index: 2;
    border-radius: 30px 5px;
    text-decoration: none;
    font-variant: all-small-caps;

}

.homeNav {
    left: 45vw;
    top: -3.5vh;
    padding-top: 3%;

}

.projectsNav {
    top: 92.5vh;
    left: 45vw;
    padding-top: 2%;
    padding-bottom: 2%;

}

.contactMeNav {
    top: 45vh;
    right: -5.5%;
    transform: rotate(90deg);
    padding-top: 6%;
}

.aboutMeNav {
    top: 45vh;
    left: -6%;
    transform: rotate(-90deg);
    padding-top: 6%;
    padding-bottom: 0;

}



nav a:hover {
    font-weight: bold;
    background: rgba(255, 255, 255, 0.8);
    font-size: 1.1rem;
}





@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}


/* ///////////////////////////////////////////////////////////ABOUT ME ////////////////////////// */
.aboutMeSection {
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    width: 85%;
}

.aboutMeSection img {
    width: 20%;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}











#projectDescription {
    margin: auto;
    width: 85vw;
    transform: translateY(15%);
}

#projectDescription img{
    width: 70%;
    object-fit: cover;
}


.active {
    transform: scale(1.1);
}
